pytube==10.4.1


gtts
idna
yarl
attrs
pillow
pyyaml
mojang
discord
aiohttp
chardet
urllib3
pymongo
mcstatus
meme_get
selenium
multidict
wikipedia
dateparser
langdetect
discord.py
markdownify
skingrabber
async-timeout
python-dotenv
chromedriver-py
deep_translator
chromedriver-py
typing-extensions
webdriver-manager
googlesearch_python
youtube-search-python