pytube==10.4.1

gtts
covid
pillow
pyyaml
mojang
PyNaCl
pickle
hypixel
discord
urllib3
pymongo
mcstatus
meme_get
dnspython
multidict
wikipedia
dateparser
langdetect
discord.py
googletrans
markdownify
skingrabber
python-dotenv
anime-images-api
googlesearch_python
youtube-search-python